* {
    box-sizing: border-box;
    font-family: Inter;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(26, 55, 80);
}

.Container1 {
    position: absolute;
    min-width: 1440px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: white;
}

.Frame1 {
    position: relative;
    width: calc(100% - 21.875rem);
    height: calc(100% - 8.188rem);
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #00000035;
}

@media (max-width: 1439px) {
    .Container1 {
        min-width: 100%;
    }
}

.Group-Content {
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 50%;
    left: 50%;
    border: solid;
    transform: translateX(-50%) translateY(-50%);
}

/* Button Formating */

.Login-Btn > input[type=submit] {
    border: none;
    border-radius: 30px;
    color: white;
    background-color: black;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    padding-left: 46.335px;
    padding-right: 46.335px;
    transform: scale(0.6) translateX(20%);
    cursor: pointer;
    font-size: calc(18px * 1.6);
}

.Login-Btn > input[type=submit]:hover {
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: whitesmoke;
    color: black;
}