* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(26, 55, 80);
}

.example-page {
    position: absolute;
    min-width: 1440px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: white;
}

@media (max-width: 1439px) {
    .example-page {
        min-width: 100%;
    }

    .links {
        width: 75% !important;
        transform: translateX(-35%);
    }
}

.frame1 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.9);
    background-color: #00000035;
}

.group1 {
    position: relative;
    top: 2em;
    left: 2em;
    font-weight: bold;
    font-size: 30px;
}

.group1 > img {
    height: 10rem;
    margin-left: -1.5rem;
    overflow: clip;
}

.container {
    display: inline-block;
    position: relative;
    height: 40%;
    top: 15%;
    left: 20%;
}

.welcome-to-prism::before {
    font-weight: bold;
    font-size: 64px;
    content: "Welcome to PRISM";
}

.getting-started::before {
    font-size: 48px;
    content: "Let's Get Started";
}

.settings-btn {
    position: absolute;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: black;
    padding: 15px;
    top: 14rem;
    left: 50px;
    cursor: pointer;
    font-size: 24px;
}

.settings-btn:hover {
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: whitesmoke;
    color: black;
}

.settings-btn::before {
    content: "Settings";
}

/* styling second.html here */

body.is-transitioned {
    opacity: 0;
    animation: fade-in 4s forwards;
    overflow: clip;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        overflow: clip;
    }

    100% {
        opacity: 1;
        overflow: clip;
    }
}

header {
    height: 100px;
    padding: 30px;
    background: white;
    color: black;
    border-bottom: solid black 2px;
    font-size: 30px;
}

.group2 {
    position: absolute;
    color: black;
    font-weight: bold;
    top: calc(12% * 50%);
    transform: translateY(-25%);
}

.group2 > img {
    float: left;
    height: 5rem;
    margin-left: -1.5rem;
    overflow: clip;
    background: #fff;
}

.group2 > img:hover {
    transition-duration: 0.4s;
    opacity: 0.8;
    box-shadow:
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}

.group2 > p {
    display: inline-block;
    min-height: 100%;
}

.group2 > p::before {
    content: "PRISM";
}

a.icon {
    display: none;
}

.links {
    display: inline-flex;
    height: 100%;
    width: 50%;
    position: relative;
    left: 50%;
    justify-content: space-between;
    font-size: 22px;
}

.links > a {
    text-decoration: none;
    color: black;
}

.links > a:hover {
    text-shadow: 2px 2px 8px rgba(0,0,0,0.24), 2px 2px 8px rgba(0,0,0,0.19);
    color: gray;
}

.links#myLinks > a {
    display: none;
}

.container1 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-56%) scale(0.9) scaleY(0.9);
    background-color: #00000035;
    padding: 0;
    margin: 0;
}

.frame2-mobile {
    display: none;
}

.frame2 {
    float: left;
    width: 26%;
    height: 100%;
    position: relative;
    border-radius: 30px 0 0 30px;
    background-color: #E2E2E2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 
.frame2 > button {
    margin-left: 3rem;
}

.frame2 > button:not(:last-child) {
    margin-bottom: 3rem;
} */

.frame3 {
    display: inline-block;
    width: 74%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    border-radius: 0 30px 30px 0;
    overflow-y: auto;
}

.setting > p {
    margin-left: 5rem;
    font-size: 20px;
}

.setting > p:not(:last-child) {
    margin-bottom: 20rem;
}

.setting[for="close"] {
    display: none;
}

.setting[for="open"] {
    display: block;
}

.btn {
    border: none;
    background-color: #E2E2E2;
    margin-top: 5rem;
    font-size: 16px;
    display: block;
    margin-bottom: 3rem;
    width: fit-content;
}

.btn:hover {
    cursor: pointer;
}

/* for mobile & tablet here */

@media (max-width: 767px) {
    .group1 {
        /* left: 50%; */
        left: 0%
        /* transform: translateX(-3%); */
        /* transform: translateX(-3em) translateY(2em); */
    }

    .group1 > img {
        /* transform: scale(1.5) translateX(-0.5em); */
        margin-left: 104px;
        height: 10rem;
    }

    .container {
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        overflow-y: auto;
        overflow-x: clip;
    }

    .welcome-to-prism::before {
        font-size: 34px;
    }

    .getting-started::before {
        font-size: 24px;
    }

    .settings-btn {
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
    }

    .links {
        display: none;
    }

    .links#myLinks {
        display: none;
        position: absolute;
        height: fit-content;
        top: 100px;
        left: 90%;
        background-color: white;
        z-index: 1;
    }

    .links#myLinks > a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        border: solid black 1px;
    }

    .links#myLinks > a:hover {
        background-color: gray;
    }

    a.icon {
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 22px;
    }

    a.icon:hover {
        background-color: gray;
    }

    .container1 {
        height: 90%;
        transform: translateX(-50%) translateY(-61%) scale(0.9) scaleY(0.9);
    }
    .frame2 {
        display: none;
    }

    .frame3 {
        width: 100%;
        border-radius: 30px;
    }

    .frame2-mobile {
        display: block;
        border: solid 2px black;
        border-radius: 30px;
        background-color: #E2E2E2;
        position: relative;
        width: 100%;
        height: 6rem;
        border-radius: 30px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%) translateY(-56%) scale(0.9) scaleY(0.9);
        background-color: #00000035;
        padding: 0;
        margin: 0;
    }

    .horizontal-scroll {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        border-radius: 30px;
    }

    .horizontal-scroll > .btn {
        position: relative;
        display: inline;
        margin: 0;
        flex: 0 0 auto;
    }
}


/* if height is too low */

@media (max-height: 526px) {
    .frame1 {
        overflow-x: clip;
        overflow-y: auto;
    }
}